body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f0f9;
    max-width: 400px;
    padding: 20px;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: bold;
}